body{
    
    margin: 5px;
    padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}
.my_menu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgb(50, 137, 243);
}
.menu li{
    list-style-type: none;
    width:160px;
    height:50px;
    background-color: rgb(50, 137, 243);
    margin-left:5px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.menu li:hover{
    background-color: black;
}
.menu li a{
    color: white;
    display: block;
    text-decoration: none;
}
.logo {
    width:80px;
}
.logo_li:hover{
    background-color:rgb(50, 137, 243)!important ;
}
.logo_li a{
    font-size: 20px;
    background-color: orange;
}
.logo_li a:hover{
    color: white!important;
}
.menu ul li{
    margin: 0px;
}
.menu ul{
    display: none;
}
.menu li:hover ul{
    display: block;
}

/*banner*/
#banner{
    width: 100%;
}
#banner img{
    margin-top: 50px;
    width: 100%;
}
/*why choose us*/
#Why_choose{
    width: 100%;
    text-align: center;
}
#Why_choose h1{
    margin: 0 auto;
    width: 300px;
    font-size: 30px;
    color: red;
    border-bottom: 2px solid red;
}
.div_section1{
    width: 20%;
    height: 350px;
    margin: 30px;
    border: 1px solid grey;
    float: left;
}
.icon{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin: 10px auto;
    line-height: 100px;
 font-size: 50px;
 background-color: darkred;
 color: white;
 border-radius: 100px;
 transition-duration: 0.3s;
 }
.icon:hover{
    font-size: 40px;
}
/*section2*/
.section2{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.section2 h1{
    margin: 0 auto;
    width: 400px;
    font-size: 30px;
    color: red;
    border-bottom: 1px solid red;
}
.div_section2{
    width: 30%;
    height: 400px;
    margin: 20px;
    float: left;
}
.div_section2 img{
    width: 100%;
}
/* footer */
.footer{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: black;
}
.footer_div{
    width: 20%;
    height: auto;
    margin: 30px;
    float: left;
}
.footer_div h1{
    text-align:left;
    color: red;
    margin-left:10px;
}
.footer_div p{
    color: white;
    text-align:left;
    margin-left:10px;
}
.footer_div button{
    background-color: red;
    color: white;
    width: 40%;
    height: 30px;
    border: none;
}
.footer_div ul li{
    list-style: none;
}
.footer_div ul li a{
    color: white;
    text-decoration: none;
    font-size:18px;
    font-weight: bold;
}
.social-link{
    color: white;
}