*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(netflix-image.jpg);

}
.container{
    width: 400px;
    height: 500px;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    backdrop-filter: blur(10px);
    border-radius: 30px;
}
h2{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.form-group{
    width: 330px;
    margin: 30px 0;
    position: relative;
    border-bottom: 3px solid white;
}
.form-group input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0 30px 0 30px;
    color: white;
}
.form-group label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: white;
}
p{
    text-align: center;
    color: white;
    padding: 10px 0;
}
p>a{
    color:white;
    text-decoration: none;
    font-weight: 600;
}
p>a:hover{
    text-decoration: underline;
    font-style: italic;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
}
button:hover{
    background: rgba(10, 71, 10, 0.579);
    color: white;
}